@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

.banner {
    width: 1440px;
    height: 372px;
    top: -903px;
    left: -392px;
}

.location {
    display: flex;
    justify-content: center;
    background-color: #042c2c;
    padding: 10px;
}

.location__name {
    display: flex;
    justify-content: center;
    font-family: 'Tajawal', sans-serif;
    font-weight: 900;
    color: #3fcc3a;
    
    
}

.location__info__card {
   
    width: 890px;
    height: 126px;
    top: 404px;
    left: 275px;
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 10px;
    padding: 5px;
}

.location__info {
    display: flex;
    display: block;
    justify-content: center;
    padding: 10px;
    background-color: #072226;
    width: 890px;
    height: 126px;
    top: 404px;
    left: 275px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px;


    
}

.location__information {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    color: white;
    font-family: 'Tajawal', sans-serif;
    font-weight: 800;


}
 
.form {
    display: flex;
    justify-content: center;
   
}


.resident {
    display: flex;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
    background-color: #072226;
    color: white;
    border-radius: 1em;
    overflow: hidden;
}



.resident__header {
    position: relative;
}

.resident__status {
    position: absolute;
    top: 2.5em;
    background-color: #072226;
    width: 35%;
    padding: 0.3em 0.7em; 
    border-radius: 0 0.5em 0.5em 0;
    display: flex;
    gap: 0.7em;
    align-items: center;
}

.resident__status__circle {
    display: block;
    width: 15px;
    aspect-ratio: 1;
    background-color: #aaa;
    border-radius: 50%;
}

.Alive {
    background-color: #00d547;
}

.Dead {
    background-color: red;
}

.resident__body {
    padding: 1.5em 1em 2.5;
}

.resident__name {
    text-align: center;
    margin-bottom: 0.5em;
    font-weight: 700;
    color: #00d547;
}

.resi__separator {
    margin-bottom: 0.5em;
    border-color: #aaa3;
}

.resident__list {
    display: grid;
    flex-direction: column;
}

.resident__lebel {
    font-size: 0.8em;
    padding-left: 1em;
    color: #aaa;
}

.resident__value {
    font-weight: 500;
}